
<<<<<<< HEAD
 
=======
  
/* de momoento el media querys no funcionara por que no esta incluido 
    en style.min.css no se ha realizado sass con el  */
   
  
  

/* aqui empieza el media querys */
/* siempre va al final del codigo css */
/* desktop primero -- hay que colocar el max width-- */
/* debemos usar @media querys */


/* usando media querys a las vistas menores de 1200 */
@media screen and (max-width: 1200px) {

  .flexbox1__contacto3{
    margin-top: 40px;
    margin-right: 400px;
  }
}






/* usando media querys a las vistas menores de 1024 */
@media screen and (max-width: 1024px) {
  /* aqui empieza el media querys de index */
  .cabecera{
    flex-direction: row;
    background-color: #630606;
  }
   .boton{
     font-size: 10px;
   }

/* aqui empieza el media querys de segunda mano */







/* aqui empieza el media querys de contacto */
.flexbox1__contacto2{
  padding: 0px;
}


.flexbox1__contacto3{
  margin-top: 40px;
  margin-right: 0px;
}

.flexbox1__2{
  flex-direction: column;
  align-items: center;
}
 /* quienes somos */

 .doselementos{
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
 }

 .framer{
   margin-top: 50px;
   margin-bottom: 50px;
 }
 .frasespan{
  margin-top: 50px;
  margin-bottom: 15px;
 }

/* usando media querys a las vistas menores de 768 */
@media screen and (max-width: 768px) {
  /* aqui empieza el media querys de index */
  .cabecera{
    background-color: #635e06;
    width:768px;
  }
  .fotoportada{     
    width:768px;
  }
 .titulo{
   font-size: 50px;
   text-align: center;
 }

.bodyuno{
  width:768px;
}
  .bloque{             
    width:768px;
  }

.frase3{
  text-align: center;
}
  .bloque2{
    width:768px;

  }


/* aqui empieza el media querys de alquiler de estudio */

.bodydos{
  width:768px;
}
  .textoalquiler{  
    width: 768px;
  }

/* aqui empieza el media querys de catalogo de segunda mano */
.flexboxarticulos{ 
  border: 3px solid #000;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6% ;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: center;
  align-items: center;
 } 






/* aqui empieza el media querys de contacto */

.flexbox1__2{
  flex-direction:column;
}

.flexbox1__contacto3{
  margin-top: 40px;
  margin-right: 0px;
}

.flexbox1__contacto2{
  margin-top: 40px;
  margin-right: 0px;
}


/* aqui empieza el media querys de quienes somos */


.bodycinco{

width:1200px;
}

.frasesomos {
  text-align: center;


}
}
}
>>>>>>> b7c4735a0cffaa33e19fcaf9e816d4ad811660d8
