.fotoportada {
  @extend .probandoExtend;
  }

  .titulo { 
    @extend .tituloExtend;

  
  &:hover{
    -webkit-transform: perspective(150px) rotateX(45deg);
    transform: perspective(150px) rotateX(45deg);
  }
}
.music {
  color: rgb(15, 11, 231);
  text-align: center;
  font-family:'Lexend Deca',sans-serif;
  font-size: 200px;
}



.bloque {
  width: 100%;
  height: 500px;
  line-height: 1;
  -webkit-transition: 1s linear;
  transition: 1s linear;

&:hover{
  -webkit-transform: scale(.5);
  transform: scale(.5);
}

&__frase {
  color: rgba(182, 121, 129, 0.459);
  text-align: center;
  font-family:'Lexend Deca',sans-serif;
  font-size: 100px;
  line-height: 140px;
}


&__frase2{
 color: rgb(202, 202, 231);
 text-align: center;
 font-family:'Lexend Deca',sans-serif;
 font-size: 50px;
  }
 }
