* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background-color: #525E75;
    font-family:$indexfuente;
  }
  
  .bodyuno{
    background-color: $indexBodyColor;
    font-family: $indexfuente;
  }
  
  .bodydos{
    background-color:rgb(56, 56, 56) ;
    color: beige;
  }

  // estas clases es para usar y probar el @extend
  .probandoExtend{
    width: 102%;
    position: relative;
    margin-top: -114px;
    margin-left: -8px;
    height: 750.3px;
    z-index: -1;
  }

  .tituloExtend{
    font-family: $fuenteTituloLogo;
    font-size: 70px;
    text-shadow: -1px 0 white, 0 1px white,1px 0 white, 0 -1px white;
    color: #05595B;
    text-align: center;
    margin-top: -140px;
    margin-bottom: 100px;
    position: relative;
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }

  .navbarExtend{
    /* margin-top: 10px; */
    text-align: center;
    background-color:rgba(87, 83, 83, 0.198);
    border: 1px solid rgba(188, 185, 183, 0.466);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 14px;
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(92,29,253,1) 50%, rgba(252,176,69,1) 100%);
  }
  

  // aqui vamos a usar @mixin en el archivo _alquilerEstudio.scss

  @mixin estudiosala($variableMixinBoxShadow) {
    background-color: #f1ddbfc3;
    color:  #630606;
    padding: 5px;
      width: 600px;
    border-radius: 25px;
      border: 1px solid #000;
    box-shadow: $variableMixinBoxShadow;
    font-size: 20px;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 25px;

  }