
// -------------------------------------------
// aqui empieza el media querys de 1024 pixeles
// -------------------------------------------

@media (max-width: 1024px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 25px;
    }
  

  .boton{
    font-size: 10px;
  }

  // aqui empieza eñ media querys de alquiler de estudio


  
/* aqui empieza el media querys de contacto */
.flexbox1__contacto2{
    padding: 0px;
  }
  
  .flexbox1__contacto3{
    margin-top: 40px;
    margin-right: 0px;
  }
  
  .flexbox1__2{
    flex-direction: column;
    align-items: center;
  }
  
  
   /* quienes somos */
   .doselementos{
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
   }
  
   .framer{
     margin-top: 50px;
     margin-bottom: 50px;
     
   }
   .frasespan{
    margin-top: 50px;
    margin-bottom: 15px;
   }


  }
  // ---------------------------------------
// aqui empieza el media querys de 767 pixeles
 // ----------------------------------------

  @media (max-width: 767px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }

  //aqui empieza el media querys de la pagina index 
  .fotoportada{     
    width:100%;
    height: 710px;
  }
 .titulo{
   font-size: 50px;
   text-align: center;
 }

.bodyuno{
  width:100%;
}
  .bloque{             
    width:100%;
  }

  .bloque2{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

  }

 .bloque__frase{
    font-size: 80px;
  }

  .music{
    font-size: 90px;
  }

 .bloque__frase2{
    font-size: 25px;
  }

  .frase3{
    font-size:15px;
  }


 .bloque2__articulo{
  width: 290px; 
  height: 290px;

 } 

 .novedad{
  color:  #630606;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
  border-right-style: solid;
  border-right-width: 0px;
  text-align: center;
  }
  

  .bloque2{
    font-family:$indexfuente;
    background-image: url("../imagenes/ensayo.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: -58px;   
    padding-top: 80px;
    text-align: center;
    text-shadow: -1px 0 rgb(0, 0, 0), 0 1px white,1px 0 white, 0 -1px rgba(90, 6, 6, 0);
    display: flex;
    justify-content: center;

 

 &__articulo {
  color: rgb(166, 124, 47);
  font-size: 12px;
  background-color: #1b1712e2;
  border:4px solid rgba(121, 72, 4, 0.459);
  border-radius:20px;
  width: 192px;
  height: 260px;
  float: left;
  margin-top: 10px;
  margin-left: 17px;
  margin-right: 17px;
}

 &__imagen{
  width: 150px;
  height: 150px;
  border-radius:150px;
  filter: grayscale(75%);
  margin-top: 20px;
   
 }

&__comprar {
       font-family:$indexfuente;
       color: #e5ebe5;
       background-color: #0a1319;
       border-radius: 15px;

}   

&__comprar:hover {
box-shadow: 0 0 10px 0 #86866e92 inset, 0 0 10px 4px #c8bfb4;

}
}

.fraseh2 {
  font-size: 20px; 
}

/* aqui empieza el media querys de alquiler de estudio */

  .textoalquiler{  
    font-size: 28px;
    padding:30px
  
  }
.sala{
  width: 500px;
}
.sala__imagen{
  width:400px;
}
.sala__alquilar{
font-size: 15px;
}
.sala__alquilar__boton{
font-size: 15px;
}
/* aqui empieza el media querys de catalogo de segunda mano */

.titulocatalogo{
  font-size: 30px;
  height: 45px;
}
  
.novedades{
  font-size: 50px;
  height: 70px;
 }

.flexboxarticulos{ 
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6% ;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: center;
  align-items: center;
 } 


/* aqui empieza el media querys de contacto */
  
.h3contacto{
  font-size: 10px;
}


.flexbox1__2{
  flex-direction:column;
  font-size: 10px;
}

.flexbox1__contacto3{
  width:320px;
  margin-top: 40px;
  margin-right: 0px;
  padding-left: 15px;
}

.flexbox1__contacto2{
  width: 320px;
  margin-top: 40px;
  margin-right: 0px;
  padding-left: 15px;
}

.flexbox1__contacto1{
  width: 320px;
  padding-left: 15px;
}


/* aqui empieza el media querys de quienes somos */


.bodycinco{

width:100%;
}

.frasesomos {
  padding-top: 100px;
  text-align: center;
  font-size: 25px;
}

.lista2{
  list-style: none;
}

.fram{
  width: 420px;
}

.framer{
  width: 420px;
}
}
// ------------------------------------------
// aqui empieza el media querys de 425 pixeles
// ------------------------------------------


@media (max-width: 425px){
  .fotoportada{     
    width:100%;
    height: 600px;
  }
 .titulo{
   font-size: 30px;
   text-align: center;
 }

.bloque__frase{
  line-height: 75px;
}

.bloque2{
  width: 100%;
  height: 600px;
  margin-top: -58px;   
  padding-top: 80px;



&__articulo {
font-size: 12px;
width: 125px;
height: 240px;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}

&__imagen{
width: 100px;
height: 100px;
margin-top: 20px;
}

.fraseh2 {
font-size: 20px; 
}
}

// mediaqyuerys alquiler de estudio
.textoalquiler{  
  font-size: 15px;
  padding-top: 100px;

}
.sala{
width: 325px;
}
.sala__imagen{
width:290px;
height: 270px;
}
.sala__alquilar{
font-size: 10px;
}
.sala__alquilar__boton{
font-size: 10px;
}



// media querys segunda mano

.articulos{
  margin-left: 0px;
  margin-right:0px;
  width:320px;
}




// media querys de contacto
.fram{
  width: 300px;

}
.framer{
  width: 300px;
}

// media querys quienes

.frasesomos {
  text-align: center;
  font-size: 15px;
}

.fraseh3{
  text-align: center;
  font-size: 15px;
}

}
