 /* --------------------------------------------------- */
  /* aqui empieza la barra de navegacion */
  /* --------------------------------------------------- */
  
<<<<<<< HEAD
 
=======
  .cabecera {
    @extend .navbarExtend;
  }
  
>>>>>>> b7c4735a0cffaa33e19fcaf9e816d4ad811660d8
  .cabeceralogo {
     margin-left: 20px;   
  }
  
  nav{
    top: 0px;
    background: #101010b4;
    height: 80px;
    width: 100%;
    position: fixed;  
    z-index: 2;
  }
  .enlace{
    position: absolute;
    padding: 20px 50px;
  }
  
  nav ul{
    float: right;
    margin-right: 20px;
  }
  
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  li a.active, li a:hover{
    background: #acacca8e;
    transition: .5s;
  }
  
  .checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check{
    display: none;
  }
  
  
  /* --------------------------------------------------- */
  /* aqui empieza los botones de la  barra de navegacion */
  /* --------------------------------------------------- */
  
  
  .boton{
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300px;
    line-height: 1;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family:'Lexend Deca',sans-serif;
    font-weight: 300px;
  }
  .boton:hover, .boton:focus {
    color: #7892a3;
    outline: 0;
  }
  
  .primero {
    border-color: #0a0a04f2;
    color: #fff;
    box-shadow: 0 0 40px 40px #7b9db3b4 inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .primero:hover {
    box-shadow: 0 0 10px 0 #7892a3 inset, 0 0 10px 4px #7892a3;
  } 
  
  /* --------------------------------------------------- */
  /* aqui termina los botones de la  barra de navegacion
     y la parte comun de la barra de navegacion para todas las paginas */
  /* --------------------------------------------------- */